@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/* ======================================================================= */
/*================================= Login =================================*/
/* ======================================================================= */
.login_page .height {
  min-height: 100vh;
}
.login.login-4 .login-signin,
.login.login-4 .login-signup,
.login.login-4 .login-forgot {
  display: none;
}
.login.login-4.login-signin-on .login-signup {
  display: none;
}
.login.login-4.login-signin-on .login-signin {
  display: block;
}
.login.login-4.login-signin-on .login-forgot {
  display: none;
}
.login.login-4.login-signup-on .login-signup {
  display: block;
}
.login.login-4.login-signup-on .login-signin {
  display: none;
}
.login.login-4.login-signup-on .login-forgot {
  display: none;
}
.login.login-4.login-forgot-on .login-signup {
  display: none;
}
.login.login-4.login-forgot-on .login-signin {
  display: none;
}
.login.login-4.login-forgot-on .login-forgot {
  display: block;
}

.login.login-4 .login-form {
  width: 100%;
  max-width: 450px;
}

@media (max-width: 575.98px) {
  .login.login-4 .login-form {
    width: 100%;
    max-width: 100%;
  }
}

/* Aside */
@media only screen and (max-width: 991.98px) {
  .aside-secondary-enabled .aside {
    width: 200px !important;
  }
}

/* Delete Confirmation */
.delete_confirmation .icon img {
  width: 100px;
  margin-bottom: 1.5rem;
}

.delete_confirmation .details h5 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.delete_confirmation .details p {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 1.8rem;
}

.delete_confirmation .buttons button {
  width: 80px;
  font-size: 16px;
}
